<app-menu #menu>
  <h2 class="menu-header theme-text-d1">Admin|Server</h2>
  <div class="menu-items w3-cell-row theme-l2">
    <div *ngIf="dataService.hasFeatureAccess('admin-server', 'structures')" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('structures')}" (click)="menu.activate('structures')">Structures</div>
    <div *ngIf="dataService.hasFeatureAccess('admin-server', 'players')" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('players')}" (click)="menu.activate('players')">Players</div>
    <div *ngIf="dataService.hasFeatureAccess('admin-server', 'tribes')" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('tribes')}" (click)="menu.activate('tribes')">Tribes</div>
    <div *ngIf="false &amp;&amp; dataService.hasFeatureAccess('admin-server', 'fertilized-eggs')" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('fertilized-eggs')}" (click)="menu.activate('fertilized-eggs')">Fertilized Eggs</div>
  </div>
</app-menu>