<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="saveFilePath" value="C:\Program Files (x86)\Steam\steamapps\common\ARK\ShooterGame\Saved\SavedArks\TheIsland.ark" />
    <add key="arktoolsExecutablePath" value="C:\ark-tools\ark-tools.exe" />
    <add key="jsonOutputDirPath" value="C:\ark-tools\tmp" />
    <add key="botToken" value="get it from https://discordapp.com/developers/" />
  </appSettings>
</configuration>