<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BrightstarDB" version="1.13.3" targetFramework="net461" />
  <package id="BrightstarDBLibs" version="1.13.3" targetFramework="net461" />
  <package id="Discord.Net" version="0.9.6" targetFramework="net461" />
  <package id="Discord.Net.Commands" version="0.9.6" targetFramework="net461" />
  <package id="dotNetRDF" version="1.0.9.3683" targetFramework="net461" />
  <package id="Google.Apis" version="1.20.0" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.20.0" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.20.0" targetFramework="net461" />
  <package id="Google.Apis.Urlshortener.v1" version="1.20.0.138" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="net461" />
  <package id="log4net" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="QueryMaster" version="1.0.0-CI00000" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http.Formatting.Extension" version="5.2.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="VDS.Common" version="1.6.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.14.1" targetFramework="net461" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net461" />
</packages>