<app-menu #menu>
  <h2 class="menu-header theme-text-d1">Player</h2>
  <div class="menu-items w3-cell-row theme-l2">
    <div *ngIf="dataService.hasFeatureAccess('player', 'profile', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('profile')}" (click)="menu.activate('profile')">Profile</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'creatures', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('creatures')}" (click)="menu.activate('creatures')">Creatures</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'creatures-cloud', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('creatures_cloud')}" (click)="menu.activate('creatures_cloud')">Creatures (Cloud)</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'breeding', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('breeding')}" (click)="menu.activate('breeding')">Breeding</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'crops', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('crop_plots')}" (click)="menu.activate('crop_plots')">Crops</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'generators', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('electrical_generators')}" (click)="menu.activate('electrical_generators')">Electrical Generators</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'kibbles-eggs', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('kibbles_and_eggs')}" (click)="menu.activate('kibbles_and_eggs')">Kibbles and Eggs</div>
    <div *ngIf="dataService.hasFeatureAccess('player', 'tribelog', steamId)" class="w3-button w3-cell w3-mobile" [ngClass]="{'theme-d1': menu.active('tribelog')}" (click)="menu.activate('tribelog')">Tribe Log</div>
  </div>
</app-menu>