<section *ngIf="isMenuActive('overview') &amp;&amp; dataService.Servers != undefined" class="w3-container">
  <h3 class="theme-text-d1">Servers</h3>
  <div *ngFor="let server of dataService.Servers.Servers" class="w3-card-4 w3-margin-bottom">
    <header class="w3-container theme-d1">
      <h3><a [routerLink]="'/server/' + server.Key" style="text-decoration: none;">{{server.MapName}} - {{server.Key}}</a></h3>
    </header>
    <div class="w3-container theme-l1">
      <p class="w3-small">
        Last Update {{server.LastUpdate}}, Next Update {{server.NextUpdate}}
      </p>
      <p><a [routerLink]="'/server/' + server.Key" class="" style="text-decoration: none;">View server ❯</a></p>
    </div>
  </div>
</section>
<section *ngIf="isMenuActive('overview') &amp;&amp; dataService.Servers != undefined" class="w3-container">
  <h3 class="theme-text-d1">Online</h3>
  <div class="w3-card-4 w3-responsive">
    <table class="w3-table w3-striped w3-bordered border-theme">
        <tr class="theme-d1">
            <th>Steam Name</th>
            <th>Character Name</th>
            <th>Tribe Name</th>
            <th>Discord Tag</th>
            <th>Server</th>
            <th>Time Online</th>
        </tr>
        <tbody *ngFor="let server of dataService.Servers.Servers">
          <tr *ngFor="let player of server.OnlinePlayers">
            <td>{{player.SteamName}}</td>
            <td>{{player.CharacterName}}</td>
            <td>{{player.TribeName}}</td>
            <td>{{player.DiscordName}}</td>
            <td>{{server.Key}}</td>
            <td>{{player.TimeOnline}}</td>
          </tr>
        </tbody>
    </table>
  </div>
</section>
<section *ngIf="!isMenuActive('overview') &amp;&amp; dataService.Servers != undefined" class="w3-container">
  <div *ngFor="let server of dataService.Servers.Servers" class="w3-card-4 w3-responsive">
    <table *ngIf="isMenuActive(server.Key)" class="w3-table-all w3-small border-theme">
        <tr>
          <th class="theme-d1" colspan="2" style="font-size: 1.5em;"><a [routerLink]="'/server/' + server.Key" style="text-decoration: none;">{{server.Name}}</a></th>
        </tr>
        <tr>
          <th class="theme-d1">Address</th>
          <td>{{server.Address}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Version</th>
          <td>{{server.Version}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Map</th>
          <td>{{server.MapName}}</td>
        </tr>
        <tr>
          <th class="theme-d1">In-Game Time</th>
          <td>{{server.InGameTime}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Tamed Creatures</th>
          <td>{{server.TamedCreatureCount}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Wild Creatures</th>
          <td>{{server.WildCreatureCount}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Structures</th>
          <td>{{server.StructureCount}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Players</th>
          <td>{{server.PlayerCount}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Tribes</th>
          <td>{{server.TribeCount}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Last Update</th>
          <td>{{server.LastUpdate}}</td>
        </tr>
        <tr>
          <th class="theme-d1">Next Update</th>
          <td>{{server.NextUpdate}}</td>
        </tr>
        <tr style="border-bottom: none;">
          <th colspan="2" class="theme-d1">Online Players ({{server.OnlinePlayerCount}} / {{server.OnlinePlayerMax}})</th>
        </tr>
        <tr>
          <td colspan="2" style="padding: 0px">
            <table class="w3-table w3-striped w3-bordered border-theme">
                <tr class="theme-d1">
                    <th>Steam Name</th>
                    <th>Character Name</th>
                    <th>Tribe Name</th>
                    <th>Discord Tag</th>
                    <th>Time Online</th>
                </tr>
                <tr *ngFor="let player of server.OnlinePlayers">
                  <td>{{player.SteamName}}</td>
                  <td>{{player.CharacterName}}</td>
                  <td>{{player.TribeName}}</td>
                  <td>{{player.DiscordName}}</td>
                  <td>{{player.TimeOnline}}</td>
                </tr>
            </table>
          </td>
        </tr>
    </table>
  </div>
</section>